h1 {
    text-align: center;
}

* {
    background-color: #8d5d78;
    padding-top: 7px;
    color: aliceblue;
}

img {
    border-radius: 12px;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: rgb(92, 11, 65);
    border-radius: 25px;
    padding: 12px;
}
